@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #255933; /* matches mock */
}

/* default body type—cleaner tracking and size */
html, body {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Inter, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  letter-spacing: 0.01em;
}

